{% load static %}
{% load myfilters %}
<div class=" border p-4">
    {% if request.user == review.user %}
        <p class="fst-italic text-muted">Vous avez publié une critique</p>
    {% endif%}
    <p class="float-end">{{ review.time_created|date:"H:i, d F Y" }}</p>
    <p class="pt-3 fs-5">{{ review.headline }} - {{ review.rating|star }}</p>
    <p>{{ review.body }}</p>
    <div class="border p-4">
        {% page_name review.ticket.user review.ticket.has_review %}
        </p>
        <p class="float-end">{{ review.ticket.time_created|date:"H:i, d F Y" }}</p>
        <p class="py-3">{{ review.ticket.title }}</p>
        <img class="" width="200" height="300"
             src="{% static 'images/media/' %}{{ review.ticket.image }}" alt="{{ ticket.title }}"/>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a href="{% url 'update_review' review.ticket.id %}" type="button" class="btn btn-outline-success mx-3">Modifier</a>
        <a type="button" class="btn btn-outline-danger" >Supprimer</a>
    </div>
</div>
