{% load static %}
{% load myfilters %}
<div class="border p-4 my-4">
    <p class="fst-italic text-muted">
    {% if ticket.user == request.user %}
        Vous avez publié un ticket
    {% else %}
        ticket.user
    {% endif %}
    </p>
    <p class="float-end">{{ ticket.time_created|date:"H:i, d F Y" }}</p>
    <p class="py-3">{{ ticket.title }}</p>
    <img class="" width="200" height="300"
         src="{% static 'images/media/' %}{{ ticket.image }}" alt="{{ ticket.title }}"/>
    <div class="d-flex justify-content-end mt-4">
        <a href="{% url 'update_ticket' ticket.id %}" type="button" class="btn btn-outline-success mx-3">Modifier</a>
        <a type="button" class="btn btn-outline-danger" >Supprimer</a>
    </div>
</div>


