{% extends 'base.html' %}
{% load myfilters %}
{% block title %} Créer un ticket {% endblock %}

{% block content %}
    <p class="text-center pt-3 fs-5">Créer un ticket</p>
    <div class="container w-75 ">
        <form action="{% url 'create_ticket' %} " method="post" enctype="multipart/form-data"> {% csrf_token %}
            {% for field in form %}
                {{ field.label }}
                {{ field|addclass:'form-control mx-0 mb-3 p-1'}}
            {% endfor %}
            <button class="btn btn-outline-success float-end my-3" type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}