{% extends 'base.html' %}
{% load myfilters %}
{% block title %} Abonnements {% endblock %}

{% block content %}
    <div class="container w-75">
        <form class="p-5" action="{% url 'follow' %} " method="post"> {% csrf_token %}
            <p class="text-center pt-3 fs-5">Suivre d'autres utilisateurs</p>
            <div class="d-flex inline">
                <input class="form-control mx-3 text-center" type="text" name="following" placeholder="Nom d'utilisateur">
                <button class="btn btn-outline-success float-end" type="submit">Envoyer</button>
            </div>
        </form>
        <p class="text-center pt-5 fs-5">Abonnements</p>
        {% if following %}
            {% for user in following %}
                {% include 'partials/modal_unsubscribe.html' with user=user%}
                <div class="row border">
                    <div class="col-10 px-3 pt-2">{{ user.followed_user.username }}</div>
                    <div class="col-2  p-0">
                        <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Désabonner</button>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Vous ne suivez personnes.</p>
        {% endif %}

        <p class="text-center pt-5 fs-5">Abonées</p>
        {% if followers %}
            {% for user in followers %}
                <div class="row border p-2">
                    {{ user.user.username }}
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Vous n'avez pas d'abonées.</p>
        {% endif %}
    </div>
{% endblock %}